# wgbot environment (used by wgbot.service, written by wgbot-install.sh)
WGBOT_TOKEN=123456:ABC-your-bot-token
WGBOT_ADMIN_IDS=123456789
WGBOT_SUMMARY_CHAT_ID=123456789
WGBOT_SUMMARY_TIME=09:00
WGBOT_VM_URL=http://127.0.0.1:8428
WGBOT_WG_CONF=/etc/wireguard/wg0.conf
WGBOT_WG_IFACE=wg0
WGBOT_CLIENTS_DIR=/etc/wireguard/clients
